html{
  font-size: 18px;

}
body{
  font-family: Helvetica;
  color: black;
  line-height: 1.4;
}
div{
  display: block;
}
.container{
  width: 960px;
  margin: 0 auto;
}
/*-- header --*/
header{
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}
.header{
  display: flex;
  flex-direction: column;
}
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  margin-top: 1rem;
}
.site-id{
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-size: 1rem;
  color: white;
}
.site-id img{
  height: 1.5rem;
  margin-right: 1rem;
}
.nav{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
a{
  color: white;
  text-decoration: none;
  margin-right: 2rem;
}
.banner{
  display: flex;
  justify-content: flex-end;
}
.tagline{
  display: block;
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
/*-- body --*/
  /*-- process --*/
.steps{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  text-align: center;
}
.step1, .step2{
    margin-right: 6rem;
}
.step1 img{
  width: 3.5rem;
}
.step2 img, .step3 img{
  width: 5rem;
}
.store-info{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.info-container{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}
.lable{
  background-color: cadetblue;
  width: 10rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
}
.info-container p{
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.footer1{
  display: flex;
  align-items: center;
  background-color: azure;
}
.footer1 img{
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

@media only screen and (max-width: 1024px){
  .container{
    width: 100%;
  }
  .header-top{
    margin-top: 0;
  }
  header{
    height: 22rem;
  }
  .tagline{
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (min-width: 480px) {
  .drop-down{
    display: none;
  }
}
 @media only screen and (max-width: 480px){
  .container{
    width: 100%;
  }
  header{
    background-position: 20%;
    height: 17rem;
  }
  .site-id span{
    display: none;
  }
  .desk-nav{
    display: none;
  }
  .drop-down{
    display: block;
  }
  .tagline{
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
    margin-top: 9rem;
    margin-right: 0;
    width: 100%;
  }
  .steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    font-size: 0.77rem;
  }
  .step{
    height: auto;
  }
  .step span{
  margin-top: 1.54rem;
  }
  .step1, .step2{
    margin-right: 0;
    margin-bottom: 1.54rem;
  }
  .store-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .phil{


  }
  .info-container{
    width: 95%;
    margin-bottom: 4rem;
  }
  .lable{
    width: 100%;
    text-align: center;
  }
  .info-par{
    padding-left: 0.2rem;
  }
  .info-container p{
    font-size: 0.77rem;
    width: 95%;
    margin-bottom: 0;
  }
  .footer1 span{
    display: none;
  }
  .footer1{
    align-items: center;
    justify-content: center;
  }

    }
